<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    __TITLE__
                </div>
                <div class="layui-card-body">
                    __TIPS__
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    List
                </div>
                <div class="layui-card-body">
                    <!-- <div class="layui-btn-group" id="toolbar" style="padding-bottom: 10px;"></div>-->
                    <table id="table" lay-filter="t"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        __BUTTONS__
        <button class="layui-btn layui-btn-normal table-oper-btn" lay-event="refreshOper">刷新</button>
    </div>
</script>
<script type="text/html" id="formBox">
    <div class="layui-form" id="" style="padding: 20px 30px 0 0;">
        <form class="layui-form" lay-filter="form" action="">
            __FORM_FIELDS__
            <input name="Id" type="hidden" value="0"/>
            <button class="form-submit-btn" lay-submit lay-filter="formBtn" style="display: none"></button>
        </form>
    </div>
</script>
<script>
    const URL = "__ROUTER__"
    const TABLE_COLS = __TABLE_COLS__
    const FORM_FIELDS = __JS_FORM_FIELDS__

    PageInit(URL, TABLE_COLS, FORM_FIELDS, function () {
    })
</script>
</body>
</html>